*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body {
    background-image: url(images/banner-with-blue-orange-balls-generative-al.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar {
    display: grid;
    
}