*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr;
    background-image: url(images/bcg.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', sans-serif;
}

#navbar {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 250px 1fr;
    /* grid-template-rows: 50px; */
    background-color: rgb(49, 48, 48, 0.637);
    backdrop-filter: blur(5px);
    /* margin-top: 50%;
    margin-bottom: 50%;*/
} 

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.navlist {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mylist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 250px; */
} 

.list li{
    display: inline-flex;
    margin-right: 80px;
    list-style: none;
}

.list li a{
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
}

.list li a:hover{
    position: static;
    background-color: rgba(251, 247, 247, 0.388);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    border-radius: 32px;
    font-weight: bolder;
}



.content {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logInForm {
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 100px 200px 20px;
    border-radius: 20px;
    border: 2px solid rgb(49, 49, 49);
    width: 350px;
    height: 350px;
    background-color: rgba(251, 247, 247, 0.388);
    backdrop-filter: blur(20px);
    box-shadow: 2px 5px 15px black;
    padding: 20px 6px;
}

.login{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(10, 10, 10);
}

.inputForm{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.userForm, .passForm{
    border-bottom: 1px solid rgb(72, 72, 72);
    background-color: transparent;
    padding-bottom: 3px;
}

.userForm:hover, .passForm:hover{
    border-bottom: 2px solid rgb(72, 72, 72);
    background-color: transparent;
    padding-bottom: 3px;
    position: relative;
}

.userForm:active{
    border-bottom: 2px solid rgb(72, 72, 72);
}

#user, #pass{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 5px;
    letter-spacing: 2px;
}

#user::placeholder, #pass::placeholder{
    color: rgb(126, 126, 126);
    font-size: 16px;
}

#forgotText{
    color: rgb(20, 20, 20);
    font-size: 15px;
}

#loginBtn{
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    font-size: 16px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10px;
}

#loginBtn:active{
    background-color: rgb(49, 49, 49);
}

.footer{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signUp{
    color: rgba(250, 7, 221);
}


.test{
    display: block;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    padding: 20px;
    border: solid 10px;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: red;
    border: solid 20px;
    margin-left: 260px;
}

.box3{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: solid 10px;
    margin-left: 500px;
}
